
.mazeGrid {
    display:grid;
    float: left;

    box-sizing: border-box;
    max-width: 50%;
    padding: 5px;
}
.mazeGrid:After {
    width: 100%;
    padding-bottom: 100%;
}
.square {
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 5px;
    background-color: grey;
    padding: 2em;
    color: #d9480f;
}
.bottom {
    border-bottom: none;
}
.top {
    border-top: none;
}
.left {
    border-left: none;
}
.right {
    border-right: none;
}
.checking {
    background-color: yellow;
}
.visited {
    background-color: purple;
}
.inSolution {
    background-color: green;
}
.pageSection {
    display: block;
    margin: 10px;
}
